* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#outer {
  height: 31%;
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#first {
  background-color: #0055ff;
  border-radius: 50%;
  margin-right: 17px;
}

#second {
  height: 100%;
  width: 50%;
  background-color: #f4b116;
}

.shapes {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#part1 {
  height: 80%;
  width: 80%;
  background-color: #e98215;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#part2 {
  height: 80%;
  width: 80%;
  background-color: #6e1de8;
  border-radius: 50%;
}

#part3 {
  height: 80%;
  width: 80%;
  background-color: #cedf10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#part4 {
  height: 80%;
  width: 80%;
  background-color: #c00be4;
}
